
#input_container {
    background: $boost;
    dock: bottom;
    height: auto;
    margin:0 0 2 0; 
}

#prompt_icon {
    width: 2;
    content-align: right middle;
    margin:1 0 0 0;
}

#prompt_input {
    border: transparent;
    width: 95%;
    background: transparent;
    
}

Input {
    border: none;
    margin: 0;
}